body {
	height: 2000px;
	margin: 0;
}

.box {
    text-align: center;
}

.btn {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    border: 1px solid #ccc;
    padding: 0 10px;
    margin-right: 50px;
    color: #777;
    cursor: pointer;
}

.btn:hover {
    border-color: #58b7ff;
    color: #20a0ff;
}